.main .inner.additional {
    height: 920px;
}

.main .language{
    position: absolute;
    top: 200px;
    display: flex;
}

.main p {
    font-size: 20px;
    margin-top: 20px;
}

.main .material-icons {
    font-size: 150px;
    margin-right: 20px;
}

.main .programming{
    position: absolute;
    top: 400px;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.main .programming p{
    margin-top: 50px;
    margin-right: 10px;
}





