.main {
    width: 100%;
}

.main .inner {
    padding: 200px 0;
    height: 900px;
    position: relative;
}

.main .basic {
    position: relative;
    display: flex;
}

.main .basic .educationInfo {
    position: absolute;
    top: 25px;
    left: 100px;
    margin-left: 20px;
    font-size: 25px;
}

.main .basic #email {
    position: absolute;
    top: 20%;
    left: 50%;

}

.educationInfo .letter {
    display: inline-block;
    line-height: 1em;
}

.main .courses {
    margin: 20px 0;
}

.main .courses img {
    height: 800px;
    width: 600px;
}

.main .courses h5 {
    font-size: 23px;
    left: 10px;
    font-weight: bold;
}

.main .coursesInfo {
    display: flex;
    align-items: center;
}

.main .info_courses h4 {
    font-size: 20px;
    margin: 20px;
}
