#icon {
    text-decoration: black;
}

.experience .inner {
    display: flex;
    min-height: 910px;
}

.inner .teaching {
    height: 800px;
    font-size: 20px;
}

.inner .teaching .material-icons {
    height: 100px;
    position: absolute;
    top: 180px;
    left: 23%;
    font-size: 40px;
}

.inner .teaching .content1 {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 170px;
}

.explain .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}

.inner .teaching .content2 {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 230px;
}

.inner .teaching p {
    font-size: 18px;
    position: absolute;
    padding: 5px;
    border: 2px solid #ccc;
    margin-top: 10px;
}

.inner .teaching .content3 {
    width: 600px;
    top: 400px;
}

.inner .teaching .content4 {
    width: 600px;
    top: 530px;
}

.inner .teaching .content5 {
    width: 600px;
    top: 660px;
    margin-bottom: 20px;
}

.inner .others .content1 {
    position: absolute;
    font-size: 35px;
    font-weight: bold;
    top: 170px;
    left: 60%;

}

.inner .others .contents {
    position: absolute;
    top: 230px;
    border: 2px solid #ccc;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    right: 1%;
    width: 420px;
}



