header .inner #download {
    position: absolute;
    right: 50px;
    top: 10%;
}

header .inner #download p {
    font-size: 8px;
    width: 100px;
}

header .inner .material-icons {
    position: absolute;
    font-size: 100px;
    right: 3%;
    margin-top: 20px;
}

.main {
    position: relative;
    top: 70px;
    height: 1150px;
}

.main .info #email {
    color: darkblue;
}

.main .inner {
    display: flex;
}

.main .profile {
    position: absolute;
    display: flex;
    top: 125px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10%;
}

.main .highlights {
    position: absolute;
    top: 110px;
    width: 400px;
    left: 60%;
}

.main .highlights h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main .profile p {
    margin-top: 50px;
    margin-left: 20px;
}


.main .kinds {
    position: relative;
    top: 400px;
    width: auto;
    height: 696px;
}

.kinds .swiper-container {
    width: calc(696px * 3 + 20px);
    height: 553px;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: calc((696px * 3 + 20px) / -2);
}

.kinds .swiper-slide {
    position: relative;
    opacity: .5;
    transition: opacity 1s;
}
.kinds .swiper-slide-active {
    opacity: 1;
}
.kinds .swiper-slide .btn {
    /*width: 130px;*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.kinds .swiper-pagination {
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 0;
}

.kinds .swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    background-image: url("../images/kinds_slide_pager.png");
    width: 13px;
    height: 12px;
    margin-right: 6px;
    outline: none;
}
.kinds .swiper-pagination .swiper-pagination-bullet:last-child {
    margin-right: 0;
}
.kinds .swiper-pagination .swiper-pagination-bullet-active {
    background-image: url("../images/kinds_slide_pager_on.png");
}

.kinds .swiper-prev,
.kinds .swiper-next {
    width: 42px;
    height: 42px;
    outline: none;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    /* on half of Swiper Container height */
    top: 300px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.kinds .swiper-prev {
    left: 25%;

}
.kinds .swiper-next {
    right: 25%;
}




